<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% Submission::SAVED_ATTRIBUTES.each do |group, fields| %>

    <div class="row">
      <h2><%= group %></h2>
    </div>

    <% fields.each do |field| %>

      <div class="field row">
        <span class="col-sm-2">
          <%= form.label field %>:
        </span>

        <span class="col-sm-3">
          <%= form.text_field field %>
        </span>
      </div>

    <% end %>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
