<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% Submission::SAVED_ATTRIBUTES.each_with_index do |section, index| -%>
    <% group_label, fields = section -%>

    <div class="row">
      <h2><%= group_label.to_s.titleize %></h2>
    </div>

    <% fields.each do |field| %>

      <div class="field row">
        <span class="col-sm-2">
          <%= form.label field %>:
        </span>

        <span class="col-sm-3">
          <%= form.text_field field unless group_label == :my_files %>
          <% if group_label == :my_files %>
            <%= form.file_field field %>
            <%= form.hidden_field (field.to_s + '_cache').to_sym %>
          <% end %>
        </span>
      </div>

    <% end %>

    <div class="actions">
      <%= form.hidden_field :current_section, value: index %>
      <%= form.submit %>
    </div>

  <% end %>

<% end %>
