<p id="notice"><%= notice %></p>

<h1>The following ETD is ready to send to your department...</h1>

<% Submission::SAVED_ATTRIBUTES.each do |group, fields| %>

  <h2><%= group %></h2>

  <% fields.each do |field| %>
    <p>
      <em><%= field.to_s.humanize %>: </em>
      <%= @submission.send(field) %>
    </p>

  <% end %>

<% end %>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %> |
<%= link_to 'Submit ETD', complete_submission_path(@submission) %>